.overlay {
  display: block;
  position: fixed;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0, 100%, 0%, 0.2);
  backdrop-filter: blur(2px);
  border: 1px solid silver;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.dialog {
  position: relative;
  left: 0;
  right: 0;
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
  overflow: hidden;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  min-width: 150px;
  min-height: 150px;
  max-width: 850px;
  max-height: 650px;
  top: 50%;
  margin: 0 5px;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 4.1px 6.9px rgba(0, 0, 0, 0.018),
    0 8.3px 13.4px rgba(0, 0, 0, 0.026), 0 13px 19.6px rgba(0, 0, 0, 0.032),
    0 18.7px 26.1px rgba(0, 0, 0, 0.037), 0 26.7px 34px rgba(0, 0, 0, 0.044),
    0 41.5px 48.3px rgba(0, 0, 0, 0.052), 0 104px 96px rgba(0, 0, 0, 0.07);
  /* https://brumm.af/shadows */
}

.dialog:before {
  position: absolute;
  content: '';
  background-color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.dialogBody {
  position: relative;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  overflow-y: auto;
  z-index: 2;
}
.dialogBody:focus {
  outline: 1px solid rgba(38, 0, 230, 0.2);
}
.dialogBody:focus:active {
  outline: none;
}

.content {
  height: 100%;
  max-height: 100%;
  display: none;
  margin-top: 0;

  opacity: 1;
  transition: opacity 0.1s ease;
}

.loading,
.error {
  display: block;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.type-inline {
}

.type-image {
  width: auto;
  height: auto;
}

.type-image img {
  max-height: 100%;
  width: auto;
}

/* Animations */
.overlay,
.dialog,
.content {
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.overlay {
  animation-name: entranceOverlay;
  animation-duration: 0.25s;
}

.dialog {
  animation-name: entrancePanel;
  animation-duration: 0.35s;
  animation-timing-function: cubic-bezier(0.17, 0.89, 0.3, 1.2);
}

:not(.-isType-inline) .content {
  animation-name: entranceContent;
  animation-duration: 0.5s;
}

:global(.modal-closing) .overlay {
  animation-name: exitOverlay;
}

/* Complete */
.complete .loading {
  display: none;
}
.complete .title {
  display: block;
}
.complete .content {
  display: block;
}

/* Media queries */
/* @media only screen and (min-width: 500px) {
    .panel {
        animation-timing-function: cubic-bezier(.17,.89,.3,1.2);
    }
} */

/* Keyframes */
@keyframes entranceContent {
  0% {
    max-width: 0;
    max-height: 0;
    opacity: 0;
  }
  50% {
    max-width: 900px;
    max-height: 700px;
    opacity: 0;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes entranceOverlay {
  0% {
    opacity: 0;
    z-index: -1;
  }
  100% {
    opacity: 1;
    z-index: 100;
  }
}

@keyframes entranceDialog {
  0% {
    opacity: 0;
    transform: translateY(-20%) scale(0.5);
    z-index: -1;
  }
  100% {
    opacity: 1;
    transform: translateY(-50%) scale(1);
    z-index: 100;
  }
}

@keyframes entranceDialog_small {
  0% {
    opacity: 0;
    transform: translateY(0);
    z-index: -1;
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
    z-index: 100;
  }
}

/*  */
@keyframes exitOverlay {
  0% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
