/* Full screen overlay background color */
.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  overflow: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(244, 15%, 47%, 0.2); /* #1000f0 at 15% saturation */
  backdrop-filter: blur(5px);
  z-index: -1;
}

/* Dialog window frame & background */
.dialog {
  position: fixed;
  display: inline-block;
  white-space: normal;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  min-width: 200px;
  min-height: 200px;
  max-width: 850px;
  max-height: 650px;
  margin: 0 auto;
  padding: 30px 10px 10px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 0.5px 0.5px hsla(0, 0%, 0%, 0.02),
    0 1px 1.5px hsla(0, 0%, 0%, 0.03), 0 1.5px 2.5px hsla(0, 0%, 0%, 0.03),
    0 2.5px 4px hsla(0, 0%, 0%, 0.04), 0 4px 7px hsla(0, 0%, 0%, 0.04),
    0 7px 12px hsla(0, 0%, 0%, 0.05), 0 15px 25px hsla(0, 0%, 0%, 0.07);
  /* https://brumm.af/shadows */
}

.dialogSmallScreen {
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  width: auto;
  height: auto;
  max-width: none;
  max-height: none;
}

/* Dialog content body */
.dialogBody {
  position: relative;
  height: 100%;
  max-height: 100%;
  padding: 0 20px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
}
.dialogBody:focus {
  outline: 1px solid hsla(38, 0, 230, 0.2);
}
.dialogBody:focus:active {
  outline: none;
}

/* Dialog overflow scrollbar */
.dialogBody::-webkit-scrollbar {
  width: 8px;
  opacity: 0;
}
.dialogBody {
  scrollbar-width: thin;
  scrollbar-color: hsl(0, 0%, 90%) transparent;
}
.dialogBody::-webkit-scrollbar-track {
  background: transparent;
}
.dialogBody::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 4px;
}

.dialogBody:hover::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 90%);
}

/* Dialog content */
.content {
  display: none;
  margin-top: 0;
  overflow: auto; /* prevents child margin effecting scroll */
  opacity: 1;
  transition: opacity 0.1s ease;
}

.loading,
.error {
  display: block;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.type-inline {
}

/* Type image */
.type-image {
  width: auto;
  height: auto;
  line-height: 0;
  text-align: center;
}

.type-image .dialogBody {
  padding-bottom: 20px;
  height: calc(100% - 20px);
  max-height: calc(100% - 20px);
}

.type-image .content {
  height: 100%;
}

.type-image img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
}

/* Animations */
.overlay,
.dialog,
.content {
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

.overlay {
  animation-name: entranceOverlay;
  animation-duration: 0.25s;
}

.dialog {
  animation-name: entranceDialog;
  animation-duration: 0.35s;
  animation-timing-function: cubic-bezier(0.15, 0.9, 0.24, 1);
}

:global(.modal-closing) .overlay {
  animation-name: exitOverlay;
}

/* Complete */
.complete .loading {
  display: none;
}
.complete .title {
  display: block;
}
.complete .content {
  display: inline-block;
}

/* Keyframes */
@keyframes entranceContent {
  0% {
    max-width: 0;
    max-height: 0;
    opacity: 0;
  }
  50% {
    max-width: 900px;
    max-height: 700px;
    opacity: 0;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes entranceOverlay {
  0% {
    opacity: 0;
    z-index: -1;
  }
  100% {
    opacity: 1;
    z-index: 100;
  }
}

@keyframes entranceDialog {
  0% {
    opacity: 0;
    transform: scale(0.7);
    z-index: -1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
  }
}

/*  */
@keyframes exitOverlay {
  0% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
